body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: hsl(217, 54%, 11%);
    font-family: $outfit, sans-serif;
}

.ql-editor {
    min-height: 150px;
    background: $mainBg;
}

p {
    margin: 0;
    padding: 0;
}
.nft__card-app {
    @include for-tablet-down {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}