.nft__card-main {
    margin: 100px 20px 30px 20px;
    width: 327px;
    height: 550px;
    border-radius: 15px;
    background: $cardBg;
}

.nft__card-content {
    margin: 24px;
    color: $white;
}

.nft__card-image-container {
    position: relative;
    width: 278px;
    height: 278px;
}

.nft__card-image {
    width: 100%;
    border-radius: 8px;
    transition: .5s ease;
    backface-visibility: hidden;

    &:hover {
        background: $cyan;
    }
}

.nft__card-image-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin-top: -262px;
    width: 278px;
    height: 278px;
    opacity: 0;
    transition: .5s ease;
    background-color: $cyan;
}

.nft__card-image-container:hover .nft__card-image-overlay {
    opacity: 0.2;
}

.middle-image {
    z-index: 9999;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.nft__card-text {
    margin-top: 40px;

    & a {
        font-size: 22px;
        font-weight: 600;
        line-height: 27.72px;
        color: $white;
        text-decoration: none;
        cursor: pointer;

        &:hover {
            color: $cyan;
        }
    }

    & p {
        width: 210px;
        color: $softBlue;
    }
}

.nft__card-details {
    display: flex;
    justify-content: space-between;
    margin-top: 24px;
}

.nft__card-details-eth {
    width: 100px;
    font-size: 15px;
    font-weight: 600;
    color: $cyan;
    display: flex;
    gap: 8px;
}

.nft__card-details-time {
    width: 100px;
    font-size: 15px;
    font-weight: 400;
    color: $softBlue;
    display: flex;
    gap: 8px;
}

.nft__card-author {
    margin-top: 24px;
    border-top-width: 1px;
    border-top-color: $softBlue;
    border-top-style: solid;
}

.nft__card-author-content {
    margin-top: 16px;
    display: flex;
    gap: 10px;
}

.author-details {
    margin-top: 10px;
    font-size: 15px;
    color: $softBlue;

    & a {
        color: $white;
        text-decoration: none;
        cursor: pointer;

        &:hover {
            color: $cyan;
        }
    }
}

.author-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid $softBlue;
}

.author-image {
    width: 40px;
}